[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]
black = "*"
coverage = "*"
unittest-xml-reporting = "*"

[pipenv]
allow_prereleases = true
