asgiref==3.2.10
attrs==20.1.0
dj-database-url==0.5.0
Django==3.1.1
django-installed-apps-command==0.0.0
iniconfig==1.0.1
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pybuilder==0.12.8
pyparsing==2.4.7
pytest==6.0.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
unittest-xml-reporting==3.0.4
xmlrunner==1.7.7
