
version: 2.1

orbs:
  python: circleci/python@0.3.2

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: python3 manage.py shell
      - run:
          command: pytest
          name: Test

workflows:
  main:
    jobs:
      - build-and-test